
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
</head>
<body>
    <html>
        <body>
            <h1>Map</h1>
            <ul>
                {% for route in routes %}
                    <li><a href="{{ route | replace('<', '') | replace('>', '') }}">
                        {{ route }}
                    </a></li>
                {% endfor %}
            </ul>
        </body>
    </html>
</body>